<%= div_for club do %>
  <div class="panel">
    <p><strong>Name:</strong> <%= link_to club.name, club_path(club) %></p>
    <p><strong>Description:</strong> <%= club.description %></p>
    <p><strong>Number of Members:</strong> <%= club.member_number %></p>
    <p><strong>Club Type:</strong> <%= link_to club.type.name, type_path(club.type) %>
    </p>
    <h5><strong>Members:</strong></h5>
    <div class="show-members">
        <% if club.members.any? %>
        <% club.members.each do |member| %>
            <strong><%= member.position %></strong> - <%= member.name %><br>
        <% end %>
        <% else %>
            <p>No members</p>
        <% end %>
    </div>
    

    <%= link_to 'Edit Club', edit_club_path(club), remote: true %> |
    <%= link_to 'Delete Club', club, remote: true, method: :delete %>
    <hr><br>
  </div>
<% end %>
