<p id="notice"><%= notice %></p>

<h1>Listing Clubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Club Type</th>
      <th>Members</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club_path(club)  %></td>
        <td><%= link_to club.type.name, type_path(club.type) %></td>
        <td><%= club.member_number %></td>
        <td><%= club.description %></td>
        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club', new_club_path %><br><br>

<h3>My Posts:</h3>
<% if !current_user.posts.empty? %>
  <% current_user.posts.reverse_each do |post| %>
    <%= render partial: "posts/post", locals: {post: post} %>
    <br>
  <% end %>
<% else %>
  <p>You don't have any posts yet.</p>
<% end %>

<script type="text/javascript" charset="urf-8">
  $(function () {
    $(".js-more").on('click', function() {
      var id = $(this).data("id");
      $.get("/posts/" + id + "/post_data", function(data) {
        // Replace text of body-id div
        $("#content-" + id).html(data["content"]);
      });
    });
  });
</script>
