<p id="notice"><%= notice %></p>

<h1>Listing Clubs</h1>

<div class="all-clubs">
  <% @clubs.each do |club| %>
    <%= render club %>
  <% end %>
</div>

<div class="new-club-form">
  <%= link_to 'New Club', new_club_path, remote: true, class: "new-club-button" %><br><br>
</div>
<hr>

<h3>My Posts:</h3>
<% if !current_user.posts.empty? %>
  <% current_user.posts.reverse_each do |post| %>
    <p>Club: <%= post.club.name %></p>
    <%= render partial: "posts/post", locals: {post: post} %>
  <% end %>
<% else %>
  <p>You don't have any posts yet.</p>
<% end %>