<p id="notice"><%= notice %></p>

<div class="new-club-form">
  <button class="btn"><%= link_to 'Create a new club', new_club_path, remote: true, class: "new-club-button" %></button><br><br>
</div>
<hr>

<button class="btn"><%= link_to "Manage the types of clubs.", types_path %></button>
<hr>

<div class="all-clubs">
  <h1>Listing Clubs</h1>
  <% @clubs.each do |club| %>
    <%= render club %>
  <% end %>
</div>

<h3>My Posts:</h3>
<% if !current_user.posts.empty? %>
  <% current_user.posts.reverse_each do |post| %>
    <p>Club: <%= post.club.name %></p>
    <%= render partial: "posts/post", locals: {post: post} %>
  <% end %>
<% else %>
  <p>You don't have any posts yet.</p>
<% end %>