
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-6"> <!-- shows club information -->
      <p><strong>Name:</strong> <%= @club.name %></p>
      <p><strong>Description:</strong> <%= @club.description %></p>
      <p><strong>Number of Members:</strong> <%= @club.member_number %></p>
      <p><strong>Club Type:</strong> <%= link_to @club.type.name, type_path(@club.type) %></p><br>
      
      <h5><strong>Members:</strong></h5>
      <% if @club.members.any? %>
        <% @club.members.each do |member| %>
          <strong><%= member.position %></strong> - <%= member.name %><br>
        <% end %>
      <% else %>
        <p>No members</p>
      <% end %>

      <%= link_to 'Edit Club', edit_club_path(@club) %> |
      <%= link_to 'Back to Clubs', clubs_path %>
    </div>

    <div class="col-sm-6"> <!-- Allows user to build a new post for this club -->
      <strong>Add a new Post:</strong><br>
        <%= render partial: "posts/newform", locals: {club: @club} %>
    </div>
  </div>
</div>

<div class="posts-container"> <!-- shows posts in this club -->
  <h2><strong>Posts:</strong></h2><br><br>
  <% if @club.posts.empty? %>
    <p>There are no posts yet.</p>
  <% else %>
    <div class="posts">
      <% @club.posts.reverse_each do |post| %>
        <%= render partial: "posts/post", locals: {post: post} %>
      <% end %>
    </div>
  <% end %>
</div>

