
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-6"> <!-- shows club information -->
      <p><strong>Name:</strong> <%= @club.name %></p>
      <p><strong>Description:</strong> <%= @club.description %></p>
      <p><strong>Number of Members:</strong> <%= @club.member_number %></p>
      <p><strong>Club Type:</strong> <%= link_to @club.type.name, type_path(@club.type) %></p>
      
      <p><strong>Members:</strong></p>
      <% if @club.members.any? %>
        <% @club.members.each do |member| %>
          <strong><%= member.position %></strong> - <%= member.name %><br>
        <% end %>
      <% else %>
        <p>No members</p>
      <% end %>

      <%= link_to 'Edit Club', edit_club_path(@club) %> |
      <%= link_to 'Back to Clubs', clubs_path %>
    </div>

    <div class="col-sm-6"> <!-- Allows user to build a new post for this club -->
      <strong>Add a new Post:</strong><br>
        <%= form_for Post.new, action: posts_path, method: 'post' do |f| %>
          <%= f.hidden_field :club_id, value: @club.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <h6>Title:</h6>
          <%= f.text_field :title,  placeholder: "Add a title." %><br>
          <h6>Content:</h6>
          <%= f.text_area :content, placeholder: "Add some content." %>
          <%= f.submit %>
        <% end %>

<!--         <div id="postResult">
          <h2 id="postTitle"></h2>
          <p id="postContent"></p>
        </div> -->

        <script type="text/javascript" charset="utf-8">
          $(function() {
            $('form').submit(function(event) {
              //prevent form from submitting the default way
              event.preventDefault();
              var values = $(this).serialize();
              var posting = $.post('/posts', values);
              posting.done(function(data) {
                var post = data["post"];
                $("#postTitle").text(post["title"]);
                $("#postContent").text(post["content"]);
              });
            });
          });
        </script>
    </div>
  </div>
</div>

<div class="posts-container"> <!-- shows posts in this club -->
  <h2><strong>Posts:</strong></h2><br><br>
  <% if @club.posts.empty? %>
    <p>There are no posts yet.</p>
  <% else %>
    <% @club.posts.reverse_each do |post| %>
      <%= render partial: "posts/post", locals: {post: post} %>
    <% end %>
    <div id="postResult">
      <h2 id="postTitle"></h2>
      <p id="postContent"></p>
    </div>
  <% end %>
</div>

<script type="text/javascript" charset="urf-8">
  $(function () {
    $(".js-more").on('click', function() {
      var id = $(this).data("id");
      $.get("/posts/" + id + "/post_data", function(data) {
        // Replace text of body-id div
        $("#content-" + id).html(data["content"]);
      });
    });
  });
</script>

