<%= form_for Post.new, action: posts_path, remote: true, method: 'post' do |f| %>
  
  <h6>Title:</h6>
  <%= f.text_field :title,  placeholder: "Add a title." %><br>
  
  <h6>Content:</h6>
  <%= f.text_area :content, placeholder: "Add some content." %>

  <%= f.hidden_field :club_id, value: @club.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.submit %>
<% end %>