<h2>Edit Post</h2>

<%= form_for @post do |f| %>
  <%= f.hidden_field :club_id, value: @post.club_id %>
  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= f.label "Edit your comment" %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>